<header class="header">
    <div class="logo">
      <span class="material-symbols-outlined">stadia_controller</span>
      BitNest
    </div>
    <nav class="nav">
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">home</span>Home
      </a> 
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">dns</span>Cores
      </a> 
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">joystick</span>Roms
      </a>
      <a href="#" class="nav-link">
        <span class="material-symbols-outlined">settings</span>Settings
      </a>
    </nav>
</header>
  
