# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Angular build outputs
dist/
tmp/
out-tsc/
.angular/

# Spring Boot and Java build outputs
target/
*.jar
*.war
*.ear

# Maven and Gradle specific files
.mvn/
.gradle/
build/

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.out

# Environment files
.env
.env.*.local
application.properties
application.yml
application-*.properties
application-*.yml

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.bak
~$*
